.main-section:nth-child(1) {
  background-image: url("../images/bg/accomodation/bg1.jpg");
}

.main-section:nth-child(2) {
  background-image: url("../images/bg/accomodation/bg2.png");
  background-position: center;
  background-repeat: repeat;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 650px);
  height: fit-content;
  padding-bottom: 5vh;
}

.content-section {
  margin: 15px;
  width: fit-content;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #f7f6f4;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.content-section:first-child {
  grid-column: 1 / span 2;
  margin: 25px;
  background: none;
  box-shadow: none;
}

.content-section:first-child h4 {
  margin-top: 1vh;
  font-size: 33px;
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.content-section:first-child p {
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 1vh;
}

/* Gallery */
.gallery {
  width: 600px;
  position: relative;
}

.gallery-container {
  user-select: none;
  width: 600px;
  border-radius: 3px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  display: grid;
  grid-auto-flow: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.gallery-photo {
  scroll-snap-align: start;
}

.gallery-photo img {
  max-width: 600px;
  width: auto;
  height: auto;
}

/* Arrow-left */

.arrow-left {
  position: absolute;
  display: inline-block;
  height: 51px;
  width: 50px;
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.arrow-left span {
  position: absolute;
  display: inline-block;
  height: 31px;
  width: 4px;
  left: 20px;
  border-radius: 3px;
  background-color: #ece9e2;
}

.arrow-left span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-left span:nth-child(2) {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Arrow-right */

.arrow-right {
  position: absolute;
  display: inline-block;
  height: 51px;
  width: 50px;
  cursor: pointer;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.arrow-right span {
  position: absolute;
  display: inline-block;
  height: 31px;
  width: 4px;
  left: 20px;
  border-radius: 3px;
  background-color: #ece9e2;
}

.arrow-right span:nth-child(1) {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-right span:nth-child(2) {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Room header */
.gallery-header h5 {
  padding: 15px;
  font-size: 25px;
}

/* Description */

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  padding-bottom: 15px;
}

.description * {
  padding: 5px;
}

.description span {
  display: flex;
  align-items: center;
  font-weight: 600;
}
