.main-section:nth-child(1) {
  background-image: url("../images/bg/contact/bg1.jpg");
}

.main-section:nth-child(2) {
  background-image: url("../images/bg/contact/bg2.png");
  background-position: center;
  background-repeat: repeat;
  height: 200vh;
}

.content-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Contact information */

.contact-info {
}
