.main-section:nth-child(1) .content-section {
  background-image: url("../images/bg/gallery/bg.webp");
}

.main-section:nth-child(2) {
  height: fit-content;
  background-color: white;
}

/* Gallery */

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

.image-gallery .column {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-item img {
  width: 100%;
  border-radius: 3px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}

/* Image closeup */
.displayed-image {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000006b;
}

.displayed-image img {
  max-width: 75vw;
  max-height: 80vh;
}

/* Cross icon */
.cross-icon {
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 5vh;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  filter: drop-shadow(#32325d40 0px 2px 5px) drop-shadow(#0000004d 0px 1px 3px);
}

.cross-icon div {
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  left: 0;
}

.cross-icon div:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.cross-icon div:nth-child(2) {
  top: 9px;
  transform: rotate(-45deg);
}

/* Arrow-left */
.arrow-left {
  height: 58px;
  left: 5vh;
  filter: drop-shadow(#32325d40 0px 2px 5px) drop-shadow(#0000004d 0px 1px 3px);
}

.arrow-left span {
  height: 35px;
  width: 3px;
}

.arrow-left {
  position: absolute;
  display: inline-block;
  width: 50px;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
}

.arrow-left span {
  position: absolute;
  display: inline-block;
  left: 20px;
  border-radius: 3px;
  background-color: white;
}

.arrow-left span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-left span:nth-child(2) {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Arrow-right */
.arrow-right {
  height: 58px;
  right: 5vh;
  filter: drop-shadow(#32325d40 0px 2px 5px) drop-shadow(#0000004d 0px 1px 3px);
}

.arrow-right span {
  height: 35px;
  width: 3px;
}

.arrow-right {
  position: absolute;
  display: inline-block;
  width: 50px;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
}

.arrow-right span {
  position: absolute;
  display: inline-block;
  left: 20px;
  border-radius: 3px;
  background-color: white;
}

.arrow-right span:nth-child(1) {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-right span:nth-child(2) {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
