/* Fonts */

/* Logo */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400&display=swap");

/* Headers */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Regular text */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Menus */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Accent color */
/* #261c14 */

/* Global */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Cormorant Garamond", serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button,
input {
  font-family: "Lato", sans-serif;
}

/* Additional */

.hidden {
  visibility: hidden;
}

.not-displayed {
  display: none !important;
}

/* Header */

.header-bg {
  background: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 20;
}

/* Logo */

.header-logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  color: #261c14;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header-logo-container h1 {
  font-size: 30px;
  margin: 10px;
  font-weight: 500;
  letter-spacing: 3px;
}

.header-logo-container img {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -18px;
  pointer-events: none;
  filter: brightness(0) saturate(100%) invert(7%) sepia(41%) saturate(606%)
    hue-rotate(345deg) brightness(100%) contrast(91%);
}

.header-logo-container img:nth-child(3) {
  margin-right: 0px;
  margin-left: -22px;
}

/* Hamburger/cross icon */

.hamburger-icon {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  height: 25px;
  width: 35px;
  cursor: pointer;
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hamburger-icon div {
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background-color: #261c14;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-icon div:nth-child(1) {
  top: 0px;
}

.hamburger-icon div:nth-child(2),
.hamburger-icon div:nth-child(3) {
  top: 9px;
}

.hamburger-icon div:nth-child(4) {
  top: 18px;
}

.hamburger-icon.open div:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.hamburger-icon.open div:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.hamburger-icon.open div:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
}

/* Hamburger menu */

.hamburger-menu-bg {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 20vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: -25vw;
  z-index: 15;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  backdrop-filter: blur(3px);
  -webkit-animation: slide-right-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-right-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hamburger-menu-bg.open {
  -webkit-animation: slide-left-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hamburger-menu-option {
  font-family: "Playfair Display", serif;
  display: inline-block;
  text-transform: uppercase;
  color: #261c14;
  font-weight: 500;
  font-size: 23px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.hamburger-menu-option:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.711);
}

.hamburger-menu-bg.open .hamburger-menu-option {
  -webkit-animation: slide-left-option 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left-option 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hamburger-menu-bg.open .hamburger-menu-option:nth-child(2) {
  animation-delay: 0.05s;
}

.hamburger-menu-bg.open .hamburger-menu-option:nth-child(3) {
  animation-delay: 0.15s;
}

.hamburger-menu-bg.open .hamburger-menu-option:nth-child(4) {
  animation-delay: 0.25s;
}

.hamburger-menu-bg.open .hamburger-menu-option:nth-child(5) {
  animation-delay: 0.35s;
}

.hamburger-menu-bg.open .hamburger-menu-option:nth-child(6) {
  animation-delay: 0.45s;
}

.hamburger-menu-option.chosen {
  border-bottom: 1px solid #261c14;
}

/* Main */

.main-container {
  height: 100vh;
  overflow: overlay;
  scroll-behavior: smooth;
  position: relative;
}

.main-section {
  width: 100%;
}

.main-section:nth-child(1) {
  overflow: hidden;
  margin-top: 100px;
  height: 75vh;
}

.main-section:nth-child(1) .content-section {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
  -webkit-animation: kenburns-top 1.4s ease-out both;
  animation: kenburns-top 1.4s ease-out both;
}

/* Footer */

footer {
  position: absolute;
  width: 100%;
  padding: 5px;
  color: #261c14;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px -2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px -1px 3px -1px;
  z-index: 10;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  display: block;
  width: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0px 0px 4px #261c14 inset;
  visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0px 0px 4px #261c14 inset;
  visibility: visible;
}

/* Keyframes */

@-webkit-keyframes slide-left-menu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
}

@keyframes slide-left-menu {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
}

@-webkit-keyframes slide-right-menu {
  0% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right-menu {
  0% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left-option {
  0% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
}

@keyframes slide-left-option {
  0% {
    -webkit-transform: translateX(25vw);
    transform: translateX(25vw);
  }
}

@-webkit-keyframes slide-right-option {
  0% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(25vw);
    transform: translateX(25vw);
  }
}

@keyframes slide-right-option {
  0% {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw);
  }
  100% {
    -webkit-transform: translateX(25vw);
    transform: translateX(25vw);
  }
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(1100px);
    transform: translateZ(1100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-top {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes kenburns-top {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
